@font-face {
  font-family: 'Moderat';
  src: url('/fonts/Moderat-Regular.ttf') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Regular.ttf') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Medium.ttf') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-SemiBold.ttf') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Bold.ttf') format('woff');
  font-weight: 700;
}

:root {
  font-family: Moderat, SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding-top: 88px;
}

.container {
  max-width: 1280px;
  margin: auto;
}


/*button {*/
/*  border-radius: 8px;*/
/*  border: 1px solid transparent;*/
/*  padding: 0.6em 1.2em;*/
/*  font-weight: 500;*/
/*  font-family: inherit;*/
/*  background-color: #1a1a1a;*/
/*  cursor: pointer;*/
/*  transition: border-color 0.25s;*/
/*}*/
/*button:hover {*/
/*  border-color: #646cff;*/
/*}*/

/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

.anchor {
  display: block;
  position: relative;
  top: -88px;
  visibility: hidden;
}

a {
  font-size: 1.6rem;
  text-decoration: inherit;
  outline-color: #2C2C2C;
  color: inherit;
}


.link-underline {
  position: relative;
}


.link-underline:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  background: #2C2C2C;
  display: block;
  transition: transform 0.2s ease-out;
}


.link-underline:hover:after {
  transform: scaleX(1);
}


.section-label {
  background-color: #CEED11;
  width: fit-content;
  color: #2C2C2C;
  font-size: 1.4rem;
  padding: 0 10px;
  height: 2.8rem;
  line-height: 2.8rem;
  border-radius: 30px;
  font-weight: 500;
  font-family: SpaceGrotesk, Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/*NAVBAR*/

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar__container {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar__logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
}

.navbar__link {
  color: #2C2C2C;
  margin: 0 20px;
}

.navbar__contact {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #CEED11;
  border-radius: 6px;
  font-size: 1.4rem;
  color: #2C2C2C;
  padding: 0.8em 1.57em;
  font-weight: 600;
  font-family: SpaceGrotesk, Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: background-color 0.25s, color 0.25s;
}

.navbar__contact:hover {
  background-color: #2C2C2C;
  color: white;
}

/*HERO*/

.hero {
  background-color: #6739E9;
  color: white;

}

.hero__container {
  padding-top: 85px;
  padding-bottom: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__subtitle {
  font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 5.2rem;
  margin-bottom: 14px;
  line-height: 110%;
}

.hero__title {
  font-size: 6.8rem;
  font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
}

.hero__description {
  font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

.hero__image {
  height: 420px;
}

/*SERVICES*/

.services {
  background-color: #E9F3F4;
  color: #2C2C2C;
}

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 35px;
}

.services__label {
  margin-bottom: 40px;
}

.services__title {
  font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 4.8rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;

}

.services__info {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: space-around;
}

.item-services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
}

.item-services__title {
  font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 14px;
  font-size: 2.8rem;
}

.item-services__text {
  font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;

}

.item-services__image {
  height: 224px;
  margin-bottom: 32px;
}





/*ABOUT*/

.about {
  background-color: #2C2C2C;
  position: relative;
  overflow-x: hidden;
  color: white;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 75px;
  text-align: center;
}

.about__bg-image-left {
  position: absolute;
  top: -33px;
  left: 0;
}

.about__bg-image-right {
  position: absolute;
  top: 129px;
  right: 0;
}

.about__label {
  margin-bottom: 40px;
}

.about__title {
  font-size: 4.6rem;
  margin-bottom: 24px;
  font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.about__text {
  font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 140%;
  max-width: 730px;
  font-size: 1.6rem;
}

/*INSIGHTS*/

.insights {
  background-color: #6739E9;
  color: white;
}

.insights__container {
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.insights__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.insights__label {
  margin-bottom: 40px;
}

.insights__title {
  margin-bottom: 10px;
  font-size: 5.2rem;
  font-weight: 700;
  font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.insights__subtitle {
  font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 4.6rem;
  margin-bottom: 40px;
}

.insights__list {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(6, min-content);
  padding-left: 0;
}

.insights__list-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 20px;
  line-height: 130%;
  max-width: 465px;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.insights__list-item:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width:10px;
  height:10px;
  background: #CEED11;
  border-radius: 1px;
  display: block;
}

.insights__image {
  height: 422px;
}

/*CONTACT*/

.contact {
  background-color: white;
}

.contact__container {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 88px;
  color: #2C2C2C;
  justify-content: space-between;
}

.contact__image {
  height: 422px;
}

/*.contact__image_lg-md-devices {*/
/*  */
/*}*/

.contact__image_sm-devices {
  display: none;
}

.contact__info {
  width: 414px;
}

.contact__label {
  margin-bottom: 40px;
}

.contact__title {
  font-weight: 700;
  font-size: 5.2rem;
  font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}

.contact__subtitle {
  font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 4.6rem;
  margin-bottom: 40px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact__input {
  background: #E9F3F4;
  margin-bottom: 18px;
  padding: 17px 20px;
  color: #2C2C2C;
  border: none;
  outline: none;
  border-radius: 6px;
  width: 100%;
  font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.contact__input::placeholder {
  color: #2C2C2C;
}

.contact__input_text {
  resize: none;
  height: 104px;
}

.contact__submit-button {
  border: transparent;
  outline-color: #2C2C2C;
  cursor: pointer;
  color: white;
  border-radius: 6px;
  background-color: #6739E9;
  font-size: 1.6rem;
  width: 100%;
  padding: 1em 0;
  transition: background-color 0.25s;
}

.contact__submit-button:hover {
  background-color: #2C2C2C;
}



/*FOOTER*/

.footer {
  background-color: #2C2C2C;
  overflow: hidden;
  color: white;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 60px;
  flex-wrap: wrap;
}

.footer__logo {
  height: 30px;
  margin-bottom: 20px;
}

.footer__description {
  margin-bottom: 28px;
  line-height: 130%;
  font-size: 1.4rem;
  font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.footer__list {
  list-style: none;
  padding: 0;
}

.footer__list-item {
  margin-bottom: 20px;
}

.footer__list-link {
  color: white;
  font-weight: 400;
  font-family: Moderat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.footer__list-link:after {
  background: white;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__social_md-sm {
  display: none;
}

.footer__email {
  font-weight: 500;
  font-size: 3.2em;
  position: relative;
  font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  margin-bottom: 30px;
}

.footer__email:after {
  bottom: 3px;
  background: white;
}

.footer__social-list {
  display: flex;
}



.footer__social-link {
  margin-left: 20px;
}

.footer__social-icon {
  height: 24px;
}

.footer__line {
  width: 100vw;
  height: 1px;
  background-color: white;
  opacity: 0.2;
}

.footer__copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: SpaceGrotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  overflow: hidden;
  padding: 18px 0;
}

.footer__copyright_bold {
  font-weight: 500;
  color: white;
  font-size: 1.4rem;
}


@media (max-width: 1439px){

  body {
    padding-top: 76px;
  }

  .container {
    max-width: 688px;
  }

  .anchor {
    display: block;
    position: relative;
    top: -76px;
    visibility: hidden;
  }

  .navbar__container {
    height: 76px;
  }

  .navbar__logo {
    height: 24px;
  }

  .hero__container {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .hero__subtitle {
    font-size: 3.4rem;
    margin-bottom: 10px;
  }

  .hero__title {
    font-size: 4.6rem;
    margin-bottom: 26px;
  }

  .hero__description {
    font-size: 1.6rem;
  }

  .hero__image {
    height: 222px;
  }


  .services__container {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .services__label {
    margin-bottom: 28px;
  }

  .services__title {
    font-size: 3.4rem;
    margin-bottom: 40px;
  }

  .item-services {
    margin-bottom: 40px;
  }

  .item-services__title {
    font-size: 2.0rem;
    margin-bottom: 12px;
  }

  .item-services__text {
    font-size: 1.4rem;
  }

  .item-services__image {
    height: 168px;
    margin-bottom: 24px;
  }


  .about__container {
    padding-top: 40px;
    padding-bottom: 56px;
  }

  .about__bg-image-left {
    top: -45px;
    height: 143px;
  }

  .about__bg-image-right {
    top: 123px;
    right: 0;
    height: 143px;
  }

  .about__label {
    margin-bottom: 28px;
  }

  .about__title {
    font-size: 3.4rem;
    margin-bottom: 20px;
  }

  .about__text {
    max-width: 626px;
  }

  .insights__container {
    padding-top: 40px;
    padding-bottom: 66px;
    align-items: center;
    flex-direction: column;
  }

  .insights__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .insights__label {
    margin-bottom: 28px;
  }

  .insights__title {
    font-size: 4.6rem;
  }

  .insights__subtitle {
    font-size: 3.4rem;
    margin-bottom: 28px;
  }

  .insights__list {
    padding-left: 0;
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 24px;
  }

  .insights__list-item {
    position: relative;
    margin-bottom: 16px;
    padding-right: 30px;
    padding-left: 16px;
    line-height: 140%;
    max-width: none;
    /*min-width: 306px;*/
    font-size: 1.6rem;
  }

  .insights__list-item:before {
    top: 6px;
    left: -5px;
    width:10px;
    height:10px;
  }

  .insights__image {
    height: 316px;
  }



  .contact__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .contact__image {
    height: 224px;
    padding-top: 114px;
  }

  .contact__image_lg-md-devices {
    box-sizing: content-box;
  }

  /*.contact__image_sm-devices {*/
  /*  display: none;*/
  /*}*/

  .contact__info {
    width: 334px;
  }

  .contact__label {
    margin-bottom: 28px;
  }

  .contact__title {
    font-size: 4.8rem;
    margin-bottom: 10px;
  }

  .contact__subtitle {
    font-size: 3.4rem;
    margin-bottom: 26px;
  }

  .contact__input {
    margin-bottom: 14px;
    padding: 14px 20px;
    font-size: 1.4rem;
  }

  .contact__input_text {
    height: 104px;
  }

  .contact__submit-button {
    font-size: 1.4rem;
    padding: 1em 0;
  }


  .footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .footer__logo {
    height: 30px;
    margin-bottom: 20px;
  }

  .footer__description {
    margin-bottom: 28px;
    font-size: 1.4rem;
  }

  .footer__list-item {
    margin-bottom: 20px;
  }

  .footer__list-link {
    font-size: 1.4rem;
  }

  .footer__social {
    align-items: flex-start;
  }

  .footer__social {
    display: flex;
    flex-direction: column;
  }

  .footer__social_lg {
    display: none;
  }

  .footer__social_md-sm {
    display: flex;
    flex-direction: column;
  }

  .footer__email {
    font-size: 2.6em;
    margin-bottom: 26px;
  }

  .footer__email:after {
    bottom: 3px;
  }

  .footer__social-link {
    margin-left: 0;
    margin-right: 20px;
  }

  .footer__social-icon {
    height: 24px;
  }

  .footer__copyright {
    font-size: 1.4rem;
    padding: 18px 0;
  }

}


@media (max-width: 767px){

  body {
    padding-top: 62px;
  }

  .container {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .anchor {
    display: block;
    position: relative;
    top: -62px;
    visibility: hidden;
  }

  .section-label {
    font-size: 1.0rem;
    height: 2.1rem;
    line-height: 2.1rem;
    padding: 0 7.5px;
  }

  .navbar__container {
    height: 62px;
  }

  .navbar__logo {
    left: 20px;
  }

  .navbar__nav {
    display: none;
  }

  .navbar__contact {
    right: 20px;
    font-size: 1.2rem;
  }


  .hero__container {
    padding-top: 50px;
    padding-bottom: 33px;
    flex-direction: column;
    /*align-items: flex-start;*/
  }

  .hero__subtitle {
    font-size: 2.4rem;
    margin-bottom: 5px;
  }

  .hero__info {
    width: 332px;
  }

  .hero__title {
    font-size: 3.8rem;
    margin-bottom: 20px;
  }

  .hero__description {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .hero__image {
    height: 222px;
  }

  .services__container {
    padding-top: 30px;
    padding-bottom: 7px;
  }

  .services__label {
    margin-bottom: 18px;
  }

  .services__title {
    font-size: 2.4rem;
    margin-bottom: 30px;
  }

  .services__info {
    display: grid;
    grid-template-columns: auto;
  }

  .item-services {
    margin-bottom: 34px;
  }

  .item-services__title {
    font-size: 2.0rem;
    margin-bottom: 12px;
  }

  .item-services__text {
    font-size: 1.4rem;
  }

  .item-services__image {
    height: 126px;
    margin-bottom: 24px;
  }

  .about__container {
    padding-top: 30px;
    padding-bottom: 47px;
  }

  .about__bg-image-left {
    top: -38px;
    height: 107px;
  }

  .about__bg-image-right {
    top: auto;
    bottom: 12px;
    right: -20px;
    height: 107px;
  }

  .about__label {
    margin-bottom: 24px;
  }

  .about__title {
    font-size: 2.4rem;
    line-height: 110%;
    margin-bottom: 18px;
  }

  .about__text {
    font-size: 1.4rem;
    line-height: 130%;
    max-width: 600px;
  }


  .insights__container {
    padding-top: 30px;
    padding-bottom: 45px;
    align-items: center;
    flex-direction: column;
  }

  .insights__label {
    margin-bottom: 24px;
  }

  .insights__title {
    font-size: 3.8rem;
    margin-bottom: 10px;
  }

  .insights__subtitle {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }

  .insights__list {
    grid-template-rows: repeat(6, min-content);
    margin-bottom: 24px;
  }

  .insights__list-item {
    margin-bottom: 16px;
    padding-left: 18px;
    padding-right: 0;
    line-height: 140%;
    max-width: 450px;
    font-size: 1.4rem;
  }

  .insights__list-item:before {
    top: 5px;
    left: -2px;
    width:10px;
    height:10px;
  }

  .insights__image {
    height: 224px;
  }



  .contact__container {
    padding-top: 30px;
    padding-bottom: 50px;
    justify-content: center;
  }

  .contact__image {
    height: 224px;
    padding-top: 0;
    margin-bottom: 30px;
  }

  .contact__image_lg-md-devices {
    display: none;
  }

  .contact__image_sm-devices {
    display: inline;
  }

  .contact__info {
    width: 334px;
  }

  .contact__label {
    margin-bottom: 24px;
  }

  .contact__title {
    font-size: 3.2rem;
    margin-bottom: 6px;
  }

  .contact__subtitle {
    font-size: 2.4rem;
    margin-bottom: 24px;
  }


  .footer__container {
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .footer__logo-description {
    width: 100%;
    margin-bottom: 30px;
  }

  .footer__logo {
    height: 30px;
    margin-bottom: 14px;
  }

  .footer__description {
    margin-bottom: 26px;
    font-size: 1.4rem;
  }

  .footer__list {
    margin-right: auto;
  }

  .footer__list-item {
    margin-bottom: 20px;
  }

  .footer__list-link {
    font-size: 1.4rem;
  }

  .footer__email {
    font-size: 2.4em;
    margin-bottom: 26px;
  }

  .footer__email:after {
    bottom: 3px;
  }

  .footer__copyright {
    font-size: 1.0rem;
    padding: 14px 0;
  }

  .footer__copyright_bold {
    font-size: 1.0rem;
  }

}



